@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(Open-Sans-Light.woff2) format('woff2');
}
body {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  cursor: default;
  overflow-wrap: break-word;
  margin: 0%;
}
a {
  text-decoration: underline;
  color: rgb(57,181,74);
  cursor: pointer;
	 transition: all .2s ease;
}
a:hover {
  color: rgb(43,136,56);
}
img {
  max-width: 100%;
}
/* STOP!!! IF YOU VALUE YOUR SANITY, AVERT
YOUR EYES FROM THE FOLLOWING CODE */
header {
  display: flex;
  flex-wrap: wrap;
  background-image: url(office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.5em;
  overflow-x: hidden;
  align-items: center;
  color: rgb(255,255,255);
  padding: 25px;
  border-bottom: 10px solid rgb(57, 181, 74);
}
/* You can look now*/
@media only screen and (min-width: 500px) {
  header {
    font-size: 1.75em;
  }
}
header > * {
  margin: 10px;
}
@media only screen and (min-width: 815px) {
  header > * {
    margin: 25px;
  }
}
#logo {
  border-radius: 50%;
}
.content {
  padding: 5%;
}
.caption {
  max-width: 98%;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 1%;
}
.caption h1 {
  position: absolute;
  margin: auto;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(255,255,255,0);
  height: 100px;
}
@media only screen and (min-width: 700px) {
  .caption {
    max-width: 47%;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1100px) {
  .caption {
    max-width: 31%;
  }
}
@media only screen and (min-width: 400px) {
  .caption h1 {
    display: initial;
  }
  .caption:hover h1 {
    color: rgba(255,255,255,1);
  }
  .caption img {
    transition: all 0.3s ease;
  }
  .caption:hover img {
    filter: blur(7px) brightness(80%);
  }
}
footer {
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-top: 1px solid rgb(230, 230, 230);
}
footer a{
  margin: 20px;
}